:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko';
}

html {
    background-image: url(../img/velvetroom.jpg);
    background-size: cover;
    background-position: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(31, 72, 255, 0.877);
    z-index: 1;
}

section{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    background: rgba(53, 134, 255, 0.718);
  }
  section .air{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  section .air.air1{
    position: fixed;
    animation: wave 30s linear infinite;
    z-index: -1;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    position: fixed;
    animation: wave2 15s linear infinite;
    z-index: -2;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    position: fixed;
    animation: wave 30s linear infinite;
    z-index: -3;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    position: fixed;
    animation: wave2 5s linear infinite;
    z-index: -4;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }

#personaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 3%;
    padding: 1%;
    gap: 1%;
    min-height: 72vh;
    width: 90vw;
    border: solid 5px rgb(4, 0, 255);
    background-color: rgba(0, 17, 255, 0.575);
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px rgb(0, 2, 128);
}

#pageSelector {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  width: fit-content;
  min-width: 15%;
  align-self: center;
  border: solid 5px rgb(4, 0, 255);
  background-color: rgba(0, 17, 255, 0.575);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 0px 15px rgb(0, 2, 128);
}

#pageSelector > button {
  border: none;
  background: none;
  background-color: blue;
  color: whitesmoke;
  line-height: 0;
  transition: all 0.2s;
  cursor: pointer;
}

#pageSelector > button:hover {
  background-color: rgb(106, 235, 0);
  color: black;
  scale: 129%;
}

button[invalid]{
  background-color: red !important;
  transform: translateX(-2%);
}

#pageSelector > button:active {
  scale: 105%;
  box-shadow: inset 0px 0px 5px black;
  transition: all 0s;
}

#previous {
  border-radius: 10px 0px 0px 10px;
}

#next {
  border-radius: 0px 10px 10px 0px;
}

#pageNumbers {
  width: 100%;
  color: whitesmoke;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    cursor: pointer;
    margin-bottom: 1%;
}
  
.cover-image {
    width: 100%;
    height: 280px;
    transition: all 0.2s;
}

.cardBackground {
    width: 100%;
    height: 280px;
    background-image: url(../img/background.gif);
    background-size: cover;
    background-position: center;
    position: absolute; 
    filter: grayscale(70%);
    filter: blur(8px);
    top: 0%;
    z-index: -2;
}
  
.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    border: 7px outset rgb(225, 182, 0);
    background-color: black;
}
  
.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
  
.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
 }
 .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
 }
 .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
}
  
.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover > .wrapper > .cover-image {
    filter: brightness(0%);
}


  
.card:hover .wrapper::after {
    height: 120px;
}
.title {
    width: 100%;
    font-size: x-large;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    transition: transform 0.5s;
    text-shadow: 0 0 15px rgb(0, 0, 109);
}
.card:hover .title {
    transform: translate3d(0%, -35px, 100px);
}
  
.character {
    width: 100%;
    height: 280px;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
    filter: drop-shadow(0px 0px 10px rgb(0, 140, 255));
}
  
.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.card:hover > .wrapper{
    border: 7px outset rgb(255, 224, 83);
    transition: all 0.5s;
}

#loader {
  border: 16px solid rgb(0, 140, 255);
  border-top: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

#toggleSound {
  line-height: 0;
  cursor: pointer;
  position: fixed;
  width: fit-content;
  padding: 1%;
  bottom: 1.5%;
  left: 1%;
  border-radius: 100%;
  background-color: rgba(0, 0, 255, 0.479);
  border-top: solid 3px blue;
  border-right: solid 3px blue;
  border-bottom: solid 3px rgb(0, 140, 255);
  border-left: solid 3px rgb(0, 140, 255);
  color: whitesmoke;
  animation: spin 5s linear infinite;
  box-shadow: 0px 0px 15px rgb(0, 2, 128);
  transition: all 0.2s;
}

#toggleSound:active {
  scale: 105%;
  box-shadow: inset 0px 0px 15px rgb(0, 2, 128);
  transition: all 0.2s;
}

#toggleSound:hover {
  background-color: rgb(235, 0, 0);
  color: black;
  scale: 110%;
}

#toggleSound[active]:hover {
  background-color: rgb(106, 235, 0);
}

#volumeIcon {
  animation: reverseSpin 5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes reverseSpin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}