:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko';
}

html {
    background-image: url(../img/velvetroom.jpg);
    background-size: cover;
    background-position: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(31, 72, 255, 0.877);
    z-index: 1;
    overflow-x: hidden;
}

.personaBody {
  overflow-y: hidden;
}

#arcana {
  rotate: -15deg;
}

#arcanaSelector {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  top: -150px;
  right: -150px;
  z-index: 3;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 109));
}

#nameSearcher {
  position: fixed;
  top: 3%;
  width: 50%;
  left: 25%;
  right: 25%;
  z-index: 0;
  border: solid 5px blue;
  font-size: x-large;
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 0px 0px 10px rgb(0, 0, 109);
}

#nameSearcher:hover {
  scale: 102%;
}

#nameSearcher:focus {
  outline: none;
  color: blue;
  scale: 102%;
}

#arcanaSelector > *:not(#central) {
  width: 100px;
  height: 100px;
  padding: 1%;
  border: solid 5px blue;
  background-color: rgb(0, 42, 255);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: larger;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

#arcanaSelector > *:is(:nth-child(4), :nth-child(5), :nth-child(6)){
  grid-row: 3;
}

#arcanaSelector > *:is(:nth-child(1), :nth-child(3), :nth-child(4), :nth-child(6)) {
  position: relative;
}

#arcanaSelector > *:is(:nth-child(1), :nth-child(3)) {
  top: 60px;
}

#arcanaSelector > *:is(:nth-child(4), :nth-child(6)) {
  bottom: 60px;
}

#arcanaSelector > *:is(:nth-child(1), :nth-child(4)) {
  left: 10px;
}

#arcanaSelector > *:is(:nth-child(3), :nth-child(6)) {
  right: 10px;
}

#central {
  height: 125px;
  width: 125px;
  border-radius: 100%;
  background-color: rgb(0, 81, 255);
  border: solid 5px blue;
  grid-column: 2;
  grid-row: 2;
  cursor: pointer;
  transition: all 0.2s;
}

#central:hover {
  background-color: rgb(106, 235, 0);
  border: none;
  box-shadow: 0px 0px 10px greenyellow;
}

#central:active {
  border: solid 5px blue;
  box-shadow: inset 0px 0px 10px rgb(0, 0, 109);
  transition: all 0.05s;
}

#arcanaSelector:has(#central[pressed]){
  animation: spin 1s linear;
}

#selectorBackground {
  position: fixed;
  width: 340px;
  height: 340px;
  border: solid 5px blue;
  background-color: rgb(0, 0, 222);
  border-radius: 100%;
  top: -140px;
  right: -150px;
  z-index: 2;
  box-shadow: 0px 0px 10px rgb(0, 0, 109);
}

section{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    background: rgba(53, 134, 255, 0.718);
  }

  section .air{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px;
  }
  section .air.air1{
    position: fixed;
    animation: wave 30s linear infinite;
    z-index: -1;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    position: fixed;
    animation: wave2 15s linear infinite;
    z-index: -2;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    position: fixed;
    animation: wave 30s linear infinite;
    z-index: -3;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    position: fixed;
    animation: wave2 5s linear infinite;
    z-index: -4;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }

#personaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 3%;
    padding: 1%;
    gap: 1%;
    min-height: 72vh;
    width: 90vw;
    border: solid 5px rgb(4, 0, 255);
    background-color: rgba(0, 17, 255, 0.575);
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px rgb(0, 2, 128);
    color: whitesmoke;
}

#pageSelector {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  width: fit-content;
  min-width: 15%;
  align-self: center;
  border: solid 5px rgb(4, 0, 255);
  background-color: rgba(0, 17, 255, 0.575);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 0px 15px rgb(0, 2, 128);
}

#pageSelector > button {
  border: none;
  background: none;
  background-color: blue;
  color: whitesmoke;
  line-height: 0;
  transition: all 0.2s;
  cursor: pointer;
}

#pageSelector > button:hover {
  background-color: rgb(106, 235, 0);
  color: black;
  scale: 129%;
}

button[invalid]{
  background-color: red !important;
  animation: invalidAnim 0.2s linear;
}

h1[invalid]{
  color: red;
  animation: invalidAnim 0.2s linear;
}

@keyframes invalidAnim {
  0%{transform: translateX(-2%);}
  50%{transform: translateX(2%);}
  100%{transform: translateX(0%);}
}

#pageSelector > button:active {
  scale: 105%;
  box-shadow: inset 0px 0px 5px black;
  transition: all 0s;
}

#previous {
  border-radius: 10px 0px 0px 10px;
}

#next {
  border-radius: 0px 10px 10px 0px;
}

#pageNumbers {
  width: 100%;
  color: whitesmoke;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    cursor: pointer;
    margin-bottom: 1%;
    transition: all 0.5s;
    animation: cardSpawn 0.1s linear;
}

@keyframes cardSpawn {
  0% {
    scale: 125%;
    transform: translateX(-20px);
  }
  100% {
    scale: 100%;
    transform: translateX(0px);
  }
}
  
.cover-image {
    width: 100%;
    height: 280px;
    transition: all 0.2s;
}

.cardBackground {
    width: 100%;
    height: 280px;
    background-image: url(../img/background.gif);
    background-size: cover;
    background-position: center;
    position: absolute; 
    filter: grayscale(70%);
    filter: blur(8px);
    top: 0%;
    z-index: -2;
}
  
.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    border: 7px outset rgb(225, 182, 0);
    background-color: black;
}
  
.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
  
.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
 }
 .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
 }
 .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
}
  
.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover > .wrapper > .cover-image {
    filter: brightness(0%);
}


  
.card:hover .wrapper::after {
    height: 120px;
}
.title {
    width: 100%;
    font-size: x-large;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    transition: transform 0.5s;
    text-shadow: 0 0 15px rgb(0, 0, 109);
}
.card:hover .title {
    transform: translate3d(0%, -35px, 100px);
}
  
.character {
    width: 100%;
    height: 280px;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
    filter: drop-shadow(0px 0px 10px rgb(0, 140, 255));
}
  
.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.card:hover > .wrapper{
    border: 7px outset rgb(255, 224, 83);
    transition: all 0.5s;
}

#loader {
  border: 16px solid rgb(0, 140, 255);
  border-top: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

#toggleSound {
  line-height: 0;
  cursor: pointer;
  position: fixed;
  width: fit-content;
  padding: 1%;
  bottom: 1.5%;
  left: 1%;
  border-radius: 100%;
  background-color: rgba(0, 0, 255, 0.479);
  border-top: solid 3px blue;
  border-right: solid 3px blue;
  border-bottom: solid 3px rgb(0, 140, 255);
  border-left: solid 3px rgb(0, 140, 255);
  color: whitesmoke;
  animation: spin 5s linear infinite;
  box-shadow: 0px 0px 15px rgb(0, 2, 128);
  transition: all 0.2s;
}

#toggleSound:active {
  scale: 105%;
  box-shadow: inset 0px 0px 15px rgb(0, 2, 128);
  transition: all 0.2s;
}

#toggleSound:hover {
  background-color: rgb(235, 0, 0);
  color: black;
  scale: 110%;
}

#toggleSound[active]:hover {
  background-color: rgb(106, 235, 0);
}

#volumeIcon {
  animation: reverseSpin 5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes reverseSpin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

@media (max-width: 1200px) {
  #nameSearcher {
    z-index: 2;
  }
}

@media (max-width: 780px) {
  #nameSearcher {
    right: auto;
    left: 0;
  }
}

.fromPersona {
  animation-direction: reverse !important;
}

#cardTransition {
  position: fixed;
  display: none;
  height: 100vh;
  right: 0;
  z-index: 10;
  animation: pageTransition 2s ease-in-out;
  box-shadow: 0px 0px 20px rgb(0, 0, 109);
  cursor: progress;
}

#backTransition {
  position: fixed;
  display: none;
  background-color: rgb(0, 0, 109);
  width: 100vw;
  height: 100vh;
  right: 0;
  z-index: 9;
  animation: backTransition 2s ease-in-out;
  cursor: progress;
}

@keyframes pageTransition {
  0% {
    transform: translateX(0) translateY(100%);
    rotate: 30deg;
  }

  20% {
    transform: translateX(0) translateY(0%);
    rotate: 0deg;
  }

  80% {
    transform: translateX(-70vw);
    rotate: 0deg;
  }

  100% {
    transform: translateX(-70vw) translateY(100%);
    rotate: -30deg;
  }
}

@keyframes backTransition {
  0% {
    width: 0vw;
  }

  15% {
    width: 0vw;
  }

  85% {
    width: 100vw;
  }

  100% {
    width: 100vw;
  }
}

#backHome {
  line-height: 0;
  cursor: pointer;
  position: fixed;
  width: fit-content;
  padding: 1%;
  bottom: 1.5%;
  right: 1%;
  border-radius: 100%;
  background-color: rgba(0, 0, 255, 0.479);
  border-top: solid 3px blue;
  border-right: solid 3px blue;
  border-bottom: solid 3px rgb(0, 140, 255);
  border-left: solid 3px rgb(0, 140, 255);
  color: whitesmoke;
  animation: spin 5s linear infinite;
  box-shadow: 0px 0px 15px rgb(0, 2, 128);
  transition: all 0.2s;
}

#backHome > span{
  animation: reverseSpin 5s linear infinite;
}

#backHome:active {
  scale: 105%;
  box-shadow: inset 0px 0px 15px rgb(0, 2, 128);
  transition: all 0.2s;
}

#backHome:hover {
  background-color: rgb(106, 235, 0);
  color: black;
  scale: 110%;
}

#nameContainer {
  position: absolute;
  width: 101vw;
  height: 15vh;
  rotate: -5deg;
  left: -10px;
  background-image: linear-gradient(to right, whitesmoke 60%, rgb(0, 195, 255));
  border-top: 5px solid rgb(199, 25, 46);
  z-index: 2;
  box-shadow: 0px 0px 10px rgb(0, 0, 109);
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  justify-content: center;
}

#nameContainer > div {
  width: fit-content;
  margin-top: 3%;
  transform: skew(5deg);
}

#nameContainer > div > p {
  color: rgb(178, 178, 178);
  font-size: 20px;
  position: relative;
  top: 15%;
}

#nameDecoration {
  position: absolute;
  width: 105vw;
  height: 32vh;
  rotate: -5deg;
  left: -20px;
  top: -100px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 75) 50%, blue 50% 100%);
  box-shadow: 0px 0px 10px rgb(0, 0, 109);
  z-index: 1;
}

#arcanaText {
  color: rgb(178, 178, 178);
  font-size: 70px;
}

#nameText {
  position: relative;
  bottom: 40%;
  left: 85%;
  font-size: 30px;
  font-weight: 800;
}

#level {
  position: relative;
  bottom: 45%;
  left: 1%;
  font-size: 30px;
  transform: skew(5deg);
}

#level::first-letter {
  font-size: 35px;
}

#centerDecoration {
  width: 105vw;
  height: 30vh;
  background-color: blue;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 50%;
  rotate: -5deg;
  left: -15px;
  z-index: 0;
  mix-blend-mode: overlay;
}

#centerDecoration > div {
  position: relative;
  width: 35vw;
  height: 35vw;
  background-color: rgb(130, 130, 130);
  bottom: 10%;
  right: 7%;
  rotate: -47deg;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: normal;
}

#centerDecoration > div > div {
  width: 95%;
  height: 95%;
  border: solid 5px blue;
}

#personaImg {
  width: 900px;
  height: 900px;
  position: absolute;
  bottom: 0;
  right: -3%;
  filter: drop-shadow(10px 10px 1px rgba(25, 0, 255, 0.719));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: persona 8s infinite ease-in-out alternate;
}

@keyframes persona {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(5%);
  }

}

#elementalContainer, #resistanceContainer {
  position: absolute;
  width: 100vw;
  height: 10vh;
  top: 17%;
  rotate: -5deg;
  z-index: 2;
  display: flex;
  padding-left: 8%;
}

#resistanceContainer {
  padding-left: 8.5%;
  top: 25.5%;
}

#elementalContainer > div{
  width: 73px;
  height: 79px;
  border: solid 5px blue;
  background-color: black;
  border-radius: 100%;
  transform: skew(-10deg);
  background-position: center;
  background-size: cover;
}

#resistanceContainer > div {
  width: 60px;
  height: 60px;
  transform: skew(2deg);
  border-radius: 100%;
  margin-right: 0.8%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#resistanceContainer > div > span {
  line-height: normal;
  font-size: 60px;
  color: rgb(212, 212, 212);
  text-shadow: 
    -2px -2px 0 black,  
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

#resistanceContainer > div:not([class]) > span{
  font-size: 20px;
}

#elementalContainer > div:nth-child(3){
  margin-right: 2%;
}

#resistanceContainer > div:nth-child(3){
  margin-right: 2.6%;
}

#slash {
  background-image: url(https://megatenwiki.com/images/b/b6/P3R_Slash_Resistance_Icon.png);
}

#strike {
  background-image: url(https://megatenwiki.com/images/2/21/P3R_Strike_Resistance_Icon.png);
}

#pierce {
  background-image: url(https://megatenwiki.com/images/c/c2/P3R_Pierce_Resistance_Icon.png);
}

#fire {
  background-image: url(https://megatenwiki.com/images/a/a2/P3R_Fire_Resistance_Icon.png);
}

#ice {
  background-image: url(https://megatenwiki.com/images/6/60/P3R_Ice_Resistance_Icon.png);
}

#electric {
  background-image: url(https://megatenwiki.com/images/b/b2/P3R_Elec_Resistance_Icon.png);
}

#wind {
  background-image: url(https://megatenwiki.com/images/3/37/P3R_Wind_Resistance_Icon.png);
}

#light {
  background-image: url(https://megatenwiki.com/images/9/99/P3R_Light_Resistance_Icon.png);
}

#dark {
  background-image: url(https://megatenwiki.com/images/1/17/P3R_Darkness_Resistance_Icon.png);
}

#descriptionContainer {
  position: absolute;
  bottom: 12%;
  left: 8%;
  width: 40vw;
  min-height: 35vh;
  font-size: 25px;
  padding: 0.5%;
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 21, 104);
  border: solid 5px rgb(21, 21, 104);
  box-shadow: 0px 0px 15px rgb(0, 0, 109);
  text-wrap: balance;
}